@media only screen and (max-width: 990px) {

    body{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: var(--vh, 100vh);
        background-color: black;
    }

    .nav,
    .bloom,
    .view__splash,
    .view__contact,
    .view__projects,
    .view__skills {
        display: none;
    }

    .mobile__disclaimer {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 600px;
        text-align: center;

        border-radius: 10px;
    }
    .mobile__disclaimer--head{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 100px min-content;
        justify-items: center;
    }
    .mobile__disclaimer--icon{
        height: 100px;
        animation: spin 24s linear infinite;
    }
    .mobile__disclaimer--header{
        align-self: center;
        color: var(--primary-color);
        font-size: 40px;
        margin: 0;
        line-height: 1;
    }
    .mobile__disclaimer--subheader{
        font-family: var(--body-font);
        /* color: var(--grey); */
        color: white;
        font-size: 18px;
        margin: 0 0 40px 0;
    }
    .mobile__disclaimer--links{
        display: grid;
        grid-template-columns: repeat(3, min-content);
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
    }
    .mobile__disclaimer--link{
        width: 100px;
        font-family: var(--body-font);
        /* color: white; */
        background-color: var(--primary-color);
        padding: 3px 5px;
        margin: 5px 0;
        border-radius: 50px;
    }
}