@media only screen and (max-width: 1025px){
    .nav{
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .link--abt{
        display: block;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .bloom{
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        z-index: 0;
    }
    .pedal{
        width: 300px;
        height: 300px;
        opacity: .5;
        transform: scale(1, 1);
    }
    .one{ transform: translate(-50%, 0);}
    .two{ transform: translate(-35%, -35%);}
    .three{ transform: translate(0, -50%);}
    .four{ transform: translate(35%, -35%);}
    .five{ transform: translate(50%, 0);}
    .six{ transform: translate(35%, 35%);}
    .seven{ transform: translate(0, 50%);}
    .eight{ transform: translate(-35%, 35%);}

    .view__splash,
    .view__projects,
    .view__skills,
    .view__contact{
        padding: 15px;
        height: auto;
        min-height: var(--vh, 100vh);
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SPLASH */
    .view__splash{
        position: relative;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .view__splash--header{
        align-items: flex-start;
    }
    .view__splash--letter{
        margin: 0;
        font-size: 70px;
        opacity: 1;
        z-index: 100;
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT */
    .view__contact{
        align-items: flex-start;
    }
    .view__contact--container{
        text-align: left;
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PROJECTS */
    .view__projects--container{
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
            "img"
            "content"
        ;
        align-items: center;
        grid-gap: 10px;
    }
    .view__projects--info{
        grid-area: content;
    }
    .view__projects--img{
        grid-area: img;
    }
    .view__projects--info{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
            "buttons"
            "content"
        ;
    }
    .view__projects--desc{
        grid-area: content;
    }
    .view__projects--button:hover{
        box-shadow: none;
    }
    .carousel{
        align-self: start;
        grid-area: buttons;
        justify-content: flex-end;
    }
    .carousel__button--left,
    .carousel__button--right{
        box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.1);
    }
    .carousel__button--left:hover,
    .carousel__button--right:hover{
        box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.1);
        transform: translate(0, 0)
    }

}