* {
    box-sizing: border-box;
}

:root {
    --bg-color: #f6f6f6;

    --primary-color: #fdca52;
    --grey: #707070;
    --light-grey: #7070705b;

    --header-font: 'Quicksand', sans-serif;
    --body-font: "Sinhala Sangam MN";

}

body{
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;;
    cursor: pointer;
}

h1 {
    font-family: var(--header-font);
}

.nav{
    position: fixed;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    max-width: 17px;

    z-index: 100;
}

.nav__dot{
    width: 17px;
    height: 17px;
    margin: 15px 0;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .2s;
    overflow: hidden;
    text-align: center;
    font-family: var(--body-font);

    border-radius: 50px;
    background-color: var(--light-grey);
    color: rgba(255, 255, 255, 0);
}
.nav__dot:hover{
    color: white;
    width: 75px;
    height: 30px;
}
.hover-effect{
    color: white;
    width: 75px;
    height: 30px;
}
.selected{
    background-color: var(--primary-color);
}

.nav__bar{
    align-self: center;
    width: 2px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--light-grey);
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(-360deg);}
}

.bloom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: spin 24s linear infinite;
}

.pedal{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
}

.view__splash,
.view__projects,
.view__skills,
.view__contact{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    min-height: 900px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SPLASH */
.view__splash--img{
    width: 600px;
    margin: -120px -140px 0 0;
}

.view__splash--header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-name,
.last-name{
    display: flex;
}

.view__splash--letter{
    margin: 0 15px;
    text-align: center;

    font-family: var(--header-font);
    font-size: 130px;
    color: var(--bg-color);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PROJECTS */
.view__projects{
    align-items: flex-start;
    padding: 0 120px;
}

.view__projects--container{
    margin: 0 auto;

    display: grid;
    grid-template-columns: 325px 1000px;
    grid-gap: 75px;
}

.view__projects--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: var(--body-font);
}

.view__projects--title{
    font-family: var(--header-font);
    font-size: 50px;
    margin: 0;
    line-height: 1;
}

.view__projects--desc {
    color: var(--grey);
    line-height: 1.8;
    font-size: 17px;
}

.view__projects--tech{
    color: var(--grey);
    line-height: 1.8;
    font-size: 14px;
}

.view__projects--button{
    background-color: var(--primary-color);
    padding: 7px 20px;
    margin: 20px 0;
    width: max-content;
    border-radius: 5px;

    text-align: center;

    cursor: pointer;
    transition: .2s;
    /* box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.2); */
}
.view__projects--button:hover{
    box-shadow: -7px 7px 7px rgba(0,0,0,0.15);
    transform: translate( 2px, -2px);
}
.view__projects--link{
    color: white;
    font-size: 18px;
}

.carousel{
    align-self: flex-end;
    display: flex;
    width: 100%;
    max-width: 1400px;
}

.carousel__button--left,
.carousel__button--right{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    padding: 10px 15px;

    background-color: white;
    border-radius: 7px;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.2);

    cursor: pointer;
    transition: .1s;
}
.carousel__button--left:hover,
.carousel__button--right:hover{
    box-shadow: -7px 7px 7px rgba(0,0,0,0.15);
    transform: translate( 2px, -2px);
}

.carousel__button--img,
.carousel__button--img-right{
    height: 20px;
}
.carousel__button--img-right{
    transform: rotateY(180deg);
}

.view__projects--img{
    width: 100%;
    border-radius: 5px;
    box-shadow: -5px 5px 7px 0px rgba(0,0,0,0.3);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SKILLS */
.view__skills{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "header header header"
        ". . ."
    ;
    align-content: center;
    grid-gap: 30px 20px;
    margin-top: -107px;
}

.view__skills--header{
    grid-area: header;
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: var(--primary-color);
}

.view__skills--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 50px;
    text-align: center;

    background-color: white;
    border-radius: 10px;
    box-shadow: -5px 5px 7px 0px rgba(0,0,0,0.1);
}

.view__skills--head{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 60px 160px;
    justify-items: center;
}

.view__skills--icon{
    height: 30px;
}

.view__skills--title{
    font-size: 25px;
    color: var(--primary-color);
}

.view__skills--desc{
    margin: 0 0 50px 0;
    font-family: var(--body-font);
    color: var(--grey)
}

.view__skills--content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    width: 100%;
    height: 100%;
    color: var(--grey);
    font-family: var(--body-font);
}

.skills__content--header{
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: 20px;
}

.view__skills-skill{
    margin: 0 0 10px 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT */
.view__contact--container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    width: 1090px;
}

.view__contact--name{
    margin: 0;
    font-size: 50px;
    line-height: 1;
}

.view__contact--links{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 10px;
}

.view__contact--link{
    font-family: var(--header-font);
    color: white;

    padding: 5px 10px;
    margin: 0;

    background-color: var(--primary-color);
    border-radius: 50px;
}

.view__contact--desc{
    font-family: var(--body-font);
    color: var(--grey);
    /* margin: 0; */
}

.view__contact--form{
    background-color: white;
    box-shadow: -5px 5px 7px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 50px;
}