* {
    box-sizing: border-box;
}

:root {
    --main-font: 'Arial Rounded MT Bold';
    --grey: #707070;
    --light-grey: #7070705b;
    --header-font: silom;
    --body-font: "Sinhala Sangam MN";

}

@font-face{
    font-family: silom;
    src: url('../fonts/Silom.ttf');
}
@font-face{
    font-family: "Sinhala Sangam MN";
    src: url('../fonts/Sinhala\ Sangam\ MN.ttc')
}

body{
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

a{
    color: black;
    text-decoration: none;;
}

.nav{
    position: fixed;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    max-width: 17px;

    z-index: 100;
}

.nav__dot{
    width: 17px;
    height: 17px;
    margin: 15px 0;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .2s;
    overflow: hidden;
    text-align: center;

    border-radius: 50px;
    background-color: var(--light-grey);
    color: rgba(255, 255, 255, 0);
}
.nav__dot:hover{
    color: white;
    width: 75px;
    height: 30px;
}
.hover-effect{
    color: white;
    width: 75px;
    height: 30px;
}
.selected{
    background-color: var(--grey);
}

.nav__bar{
    align-self: center;
    width: 2px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.view__splash,
.view__projects,
.view__skills,
.view__contact{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.view__splash--img{
    width: 600px;
    margin: -120px -140px 0 0;
}

.view__projects{
    align-items: flex-start;
    padding: 0 120px;
}

.view__projects--container{
    margin: 0 auto;

    display: grid;
    grid-template-columns: 325px 1000px;
    grid-gap: 75px;
}

.view__projects--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* height: 100%; */
    font-family: var(--body-font);
}

.view__projects--title{
    font-family: var(--header-font);
    font-size: 50px;
    margin: 0;
    line-height: 1.2;
}

.view__projects--desc {
    color: var(--grey);
    line-height: 1.8;
    font-size: 17px;
}

.carousel{
    align-self: flex-end;
    display: flex;
    width: 100%;
    max-width: 1400px;
}

.carousel__button--left,
.carousel__button--right{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    padding: 10px 15px;

    background-color: white;
    border-radius: 7px;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.2);

    cursor: pointer;
    transition: .1s;
}
.carousel__button--left:hover,
.carousel__button--right:hover{
    box-shadow: -7px 7px 7px rgba(0,0,0,0.15);
    transform: translate( 2px, -2px);
}

.carousel__button--img,
.carousel__button--img-right{
    height: 20px;
}
.carousel__button--img-right{
    transform: rotateY(180deg);
}

.view__projects--img{
    width: 100%;
    border-radius: 5px;
    box-shadow: -5px 5px 7px 0px rgba(0,0,0,0.3);
}

.slide-in{
    transform: translateX(0);
    opacity: 1;
}
